* {
box-sizing: border-box;
}

.header {
    display: flex;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
    gap: 1em;
}

.hero {
    display: flex;
    gap: 1em;
}

h2 {
    text-align: center;
}

.pictures {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote .wisdom {
    font-size: 1.5em;
    font-style: italic;
}

.cta {
    text-align: center;
}

.footer {
    text-align: center;
}

