.header {
    display: flex;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
    gap: 1em;
}

.hero {
    display: flex;
    gap: 1em;
}

h2 {
    text-align: center;
}

.pictures {
    display: flex;
    justify-content: center;
}